@CHARSET "UTF-8";
  .leftArrow{
	width: 50px; height: 50px; margin-top: -15px; font-size: 30px;
	position: absolute; top: 50%; z-index: 5;
	left: 50%;
	margin-left: -15px;
  }
  
  .rightArrow{
	width: 50px; height: 50px; margin-top: -15px; font-size: 30px;
	position: absolute; top: 50%; z-index: 5;
	margin-right: -15px;
	right: 50%;
  }
  
  #myCarousel{
  		width: 700px;
		text-align: center;
		margin: auto;
		margin-top: 25px;
	}
